
$fuentePrincipal: 'Quicksand', sans-serif;
$fuenteTitulos: 'Oswald', sans-serif;
$azul: #00A4B6;
$azulBajo: #0683F9;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$moradoBajo: #8EC7FC;
$morado : #335EFF;
$verde: #00C897;
$rojo: #C80045;
$rojoBajo: #ED5D5D;
$azulBarra: #1CC1F5;
$rojoBarra: #DE0028;
$narajaBarra: #FF6F00;
$amarilloBarra: #F6B15F;
$grisBarra: #E8E8E8;
$dorado: #efb810;
$card-color: #cacaca;
$text-color: #e1e1e1;


// Media Queries
$telefono-mini: 320px;
$telefono: 414px;
$tablet: 768px;
$desktop: 1024px;
$desktop-big : 1350px;


// Fuentes
$delgadax1: 100;
$delgadax2: 200;
$regularx1: 300;
$regularx2: 400;
$regularx3: 500;
$boldx1: 600;
$boldx2: 700;

// Separaciones
$separacion: 5rem;